@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/Pretendard-Regular.eot);
  src: url(./assets/fonts/Pretendard-Regular.eot?#iefix) format('embedded-opentype'),
    url(./assets/fonts/Pretendard-Regular.woff) format('woff'),
    url(./assets/fonts/Pretendard-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  src: url(./assets/fonts/Pretendard-Medium.eot);
  src: url(./assets/fonts/Pretendard-Medium.eot?#iefix) format('embedded-opentype'),
    url(./assets/fonts/Pretendard-Medium.woff) format('woff'),
    url(./assets/fonts/Pretendard-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  src: url(./assets/fonts/Pretendard-Bold.eot);
  src: url(./assets/fonts/Pretendard-Bold.eot?#iefix) format('embedded-opentype'),
    url(./assets/fonts/Pretendard-Bold.woff) format('woff'), url(./assets/fonts/Pretendard-Bold.ttf) format('truetype');
}

/* 브라우저 기본 폰트크기 16px -> 10px */
:root {
  font-size: 62.5%;
}

/* 반응형, 모바일에서 모든요소의 패딩,선을 크기안에 포함시킴 */
*,
::before,
::after {
  box-sizing: border-box;
}

/* 컬러 변수 */
:root {
  --primary-color: #b83030;
  --secondary-color: #dd3175;
  --text-color-100: #fff;
  --text-color-400: #ddd;
  --text-color-500: #666;
  --text-color-600: #333;
  --text-color-900: #000;
}

/* body에 들어갈수있는 모든태그의 여백빼기 */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
address,
code,
em,
img,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section,
main,
audio,
video {
  margin: 0;
  padding: 0;
}

/* html5추가 시멘틱엘리먼트를 익스하위버전에서 블럭으로 인식되도록함 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

/* button태그에 손모양 커서 */
button {
  cursor: pointer;
}

/* 익스하위버전에서 이미지 선없애기 */
fieldset,
img {
  border: 0;
  /* a안에 이미지가 있을경우 vertical-align:baseline이 기본값이므로 a가 아래로 내려가며 간격이슈가 발생함
  그러므로 a를 이미지 기준 위로 올려줌 */
  vertical-align: top;
}

/* 모바일, 반응형에서 이미지가 원본보다 커지지않게하고 뷰포트에 따라 줄어들게 */
img {
  max-width: 100%;
}

/* 리스트 기호 빼기 */
ol,
ul {
  list-style: none;
}

/* 기울임꼴 제거 */
address,
em {
  font-style: normal;
}
strong {
  font-weight: normal;
}

/* 벤더프리픽스: 브라우저 제조사를 의미 */
/* -webkit- 크롬, 사파리, 다른브라우저에서 사용하기도함 */
a {
  text-decoration: none;
  color: var(--text-color-600);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

/* iframe으로 외부컨텐츠 연결시 외부컨텐츠 안쪽내용이 페이지에 영향을 주지못하도록 가려줌*/
iframe {
  overflow: hidden;
  border: 0;
}

/* 칸의 선 합치고 간격없애기, 가로를 늘려줌 */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}

/* 굵기 빼고 폰트크기를 body 폰트크기와 일치시킴 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

/* 폼요소 높이 다를때 요소끼리 세로정렬시킴 */
/* border-radius:0 -> iOS 테두리 둥글게 제거 */
/* -webkit-appearance: none -> iOS 폼요소 기본모양 제거 */
input,
select,
textarea,
button {
  vertical-align: middle;
  margin: 0;
  padding: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
  /* 포커스시 아웃라인 제거 */
  outline: none;
}

/* textarea 리사이즈 막기 */
textarea {
  resize: none;
}

/* 모바일 크롬, 사파리 텍스트 자동확대 방지 */
body {
  -webkit-text-size-adjust: none;
}

/*********************** 공통스타일 *************************/
/* body에 높이가 없어도 hidden이 걸리면 스크롤바가 사라짐(데스크탑) */
/* body.on {overflow: hidden;} */
/* iOS 사파리는 페이지최상단에서만 hidden이 걸리므로 페이지 위로 올라오게함(모바일,반응형) */
/* body.on { overflow: hidden; position: fixed; left:0; top:0; width:100%; } */
body,
input,
select,
textarea,
button,
table {
  font-family: 'Pretendard', '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo', sans-serif;
  font-size: 1.6rem;
  color: var(--text-color-600);
}

/* 스킵 네비 */
#skip_navi {
  position: relative;
}
#skip_navi a {
  position: absolute;
  left: 0;
  top: -999px;
  width: 100%;
  padding: 10px 0;
  background: #fff;
  z-index: 99999;
  text-align: center;
}
#skip_navi a:hover,
#skip_navi a:active,
#skip_navi a:focus {
  top: 0;
}

/* 스크롤바 */
/* ::-webkit-scrollbar {
  width: 8px;
  background: #eee;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 8px;
} */

/* 스크롤바 안보이게 */
/* IE */
/* * {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
} */

/* 텍스트 선택 컬러 */
/* ::selection {
  background: var(--primary-color);
  color: #ffffff;
} */

/* legend,caption, 섹션제목 안보이게 */
legend,
caption,
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

/* float해제 */
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

/********************** 폼요소 ********************/
/* 입력필드 */
/* placeholder */
::-webkit-input-placeholder {
  color: #b1b1b1;
} /* Webkit,크롬,사파리 */
:-moz-placeholder {
  color: #b1b1b1;
} /* Firefox 4-18 */
::-moz-placeholder {
  color: #b1b1b1;
  opacity: 1;
} /* Firefox 19+ */
:-ms-input-placeholder {
  color: #b1b1b1 !important;
} /* IE10+ */

/* IE x버튼, password 눈모양 제거 */
input::-ms-clear,
input::-ms-reveal {
  display: none;
}

/* input search x버튼 제거 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

/* input number 위아래 화살표제거 */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* input[type='text'],
input[type='search'],
input[type='password'],
input[type='number'] {
  border: 1px solid black;
  height: 40px;
  padding: 0 10px;
  width: 100%;
} */

/* 체크박스 */
.checkbox_wrap {
  display: inline-block;
  margin-right: 10px;
}
input[type='checkbox'] + label {
  color: #333;
  cursor: pointer;
  position: relative;
}
input[type='checkbox'] + label:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #dddddd;
  vertical-align: middle;
  margin-right: 6px;
}
input[type='checkbox']:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%) rotateZ(-45deg);
  width: 10px;
  height: 6px;
  border-left: 1px solid #333;
  border-bottom: 1px solid #333;
}

/* radio 공통 */
.radio_wrap {
  display: inline-block;
  margin-right: 10px;
}
input[type='radio'] + label {
  cursor: pointer;
  position: relative;
  display: inline-block;
}
input[type='radio'] + label:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ddd;
  vertical-align: middle;
  margin-right: 6px;
}
input[type='radio']:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 1px;
  width: 10px;
  height: 10px;
  background: #333;
  border-radius: 50%;
}

/* select 공통 */
/* 익스 화살표 제거 */
select::-ms-expand {
  display: none;
}

.select_wrap {
  display: inline-block;
  width: 192px;
  border: 1px solid #dddddd;
  position: relative;
  z-index: 0;
  margin-right: 10px;
}
.select_wrap:after {
  content: '';
  position: absolute;
  right: 12px;
  top: 50%;
  z-index: -1;
  transform: translateY(-25%);
  border: 6px solid transparent;
  border-top-color: #333;
}
.select_wrap select {
  width: 100%;
  border: none;
  height: 38px;
  padding: 0 10px;
  cursor: pointer;
  background: none;
}

/* select 커스텀 */
.select_custom {
  width: 192px;
  display: inline-block;
  border: 1px solid #ddd;
  vertical-align: middle;
  margin-right: 10px;
}
.select_custom .select_btn {
  display: block;
  position: relative;
  line-height: 38px;
  padding: 0 10px;
  color: #666;
}
.select_custom .select_btn:after {
  content: '';
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-25%);
  border: 6px solid transparent;
  border-top-color: #333;
}
.select_custom .select_list_wrap {
  position: relative;
  /* display: none; */
}
.select_custom .select_list {
  position: absolute;
  left: -1px;
  top: 0px;
  border: 1px solid #ddd;
  width: calc(100% + 2px);
  background: #fff;
}
.select_custom .select_list a {
  display: block;
  padding: 0 10px;
  line-height: 40px;
  color: #666;
}
.select_custom .select_list a:hover {
  background: #eee;
}

/* textarea */
textarea {
  width: 100%;
  border: none;
  background: #f8f8f8;
  padding: 15px;
}

/* 파일선택 */
.file_wrap {
  display: inline-block;
  border: 1px solid #ddd;
  width: 100%;
  position: relative;
}
.file_wrap input[type='text'] {
  height: 38px;
  width: calc(100% - 98px);
  border: none;
  padding: 0 10px;
}
.file_wrap label {
  position: absolute;
  right: 0;
  top: 0;
  width: 98px;
  height: 100%;
  text-align: center;
  cursor: pointer;
  background: yellowgreen;
  display: flex;
  justify-content: center;
  align-items: center;
}
.file_wrap label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 2px;
  height: 16px;
  transform: translateY(-50%);
  background: #e8e8e8;
}

/* 버튼 */
.btn {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  padding: 0px 28px;
  line-height: 50px;
  background: #fff;
  border-radius: 27px;
  border: 2px solid #222;
  font-weight: 700;
  gap: 0 2px;
  transition: all 0.3s;
}
.btn:hover {
  background: #222;
  color: var(--text-color-100);
}

.go_btn::after {
  content: '';
  width: 24px;
  height: 24px;
  -webkit-mask: url(../images/btn_arrow_up.svg) no-repeat 50% 50% / 100%;
  mask: url(../images/btn_arrow_up.svg) no-repeat 50% 50% / 100%;
  background: #222;
}
.go_btn:hover::after {
  background: #fff;
}

.more_btn::after {
  content: '';
  width: 24px;
  height: 24px;
  -webkit-mask: url(../images/btn_arrow.svg) no-repeat 50% 50% / 100%;
  mask: url(../images/btn_arrow.svg) no-repeat 50% 50% / 100%;
  background: #222;
}
.more_btn:hover::after {
  background: #fff;
}

.primary_btn {
  background: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
  line-height: 38px;
}
.secondary_btn {
  background: var(--secondary-color);
  border-color: var(--secondary-color);
  color: #fff;
  line-height: 38px;
}

/* 라벨 버튼 */
[class*='label_btn'] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
[class*='label_btn']:before {
  content: '';
  width: 24px;
  height: 24px;
  margin-right: 4px;
}
.delete_label_btn:before {
  background: url(./assets/images/delete.svg) no-repeat 0 0 / 100%;
}
.send_label_btn {
  flex-direction: row-reverse;
}
.send_label_btn:before {
  background: url(./assets/images/send.svg) no-repeat 0 0 / 100%;
  margin-left: 4px;
  margin-right: 0;
}

/* 아이콘 버튼 */
[class*='icon_btn'] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-indent: -9999px;
  border-radius: 0;
  border: none;
  /* 줄간격 초기화하여 아이콘 높이에 따라 높이변경되도록 */
  line-height: inherit;
  padding: 10px;
  background: none;
  margin-right: 0;
}
[class*='icon_btn']:before {
  content: '';
  width: 24px;
  height: 24px;
}
.delete_icon_btn:before {
  background: url(./assets/images/delete.svg) no-repeat 0 0 / 100%;
}
.send_icon_btn:before {
  background: url(./assets/images/send.svg) no-repeat 0 0 / 100%;
}

/* 다운로드 버튼 */
.download_btn {
  padding: 7px 3px;
  display: inline-block;
  /* 줄간격으로 인해 기본높이가 커지므로 줄여줌 */
  line-height: 1;
}
.download_btn:hover {
  border-bottom: 1px solid #000;
}
.download_btn:hover [class^='icon_download'] {
  transform: translateY(-1px);
}

/* 등록하기 아이콘 */
.reg_icon:after {
  content: '';
  display: inline-block;
  width: 21px;
  height: 16px;
  background: url(../images/icon_reg.png) no-repeat;
  margin-left: 7px;
}

/* 다운로드 아이콘 */
[class*='download_icon'] {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  background: url(../images/sprite_pc_new.png) no-repeat;
}
.pdf_download_icon {
  background-position-x: -125px;
}
.mp4_download_icon {
  background-position-x: 0px;
}
.txt_download_icon {
  background-position-x: -25px;
}
.ppt_download_icon {
  background-position-x: -50px;
}
.doc_download_icon {
  background-position-x: -75px;
}
.xls_download_icon {
  background-position-x: -100px;
}

/* 필수 별 아이콘 */
.star_icon {
  display: inline-block;
  width: 7px;
  height: 6px;
  background: url(../images/icon_ess.png) no-repeat;
  vertical-align: 3px;
  margin: 0 3px;
}

/* 플랫폼 아이콘 */
[class*='device_icon'] {
  width: 18px;
  height: 20px;
  display: inline-block;
  background: url(../images/set_device.png) no-repeat;
  vertical-align: middle;
  margin-right: 3px;
}
.aos_device_icon {
  background-position-y: -100px;
}
.ios_device_icon {
  background-position-y: -50px;
}

/* 커뮤니티 아이콘 */
/* [class*='sns_icon'] {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(../images/set_community.svg) no-repeat;
  text-indent: -9999px;
}
[class*='sns_icon']:hover {
  background-position-x: -50px;
}
.youtube_sns_icon {
  background-position-y: -50px;
}
.facebook_sns_icon {
  background-position-y: -100px;
} */

/* 테이블 캡션 버그 대응 */
caption.nohead {
  position: static;
}

/* 게시판 리스트 */
.board_list_wrap {
  border-top: 1px solid #000;
}
.board_list_wrap th {
  border-bottom: 1px solid #eee;
  height: 60px;
  background: #f5f5f5;
  color: #000;
  font-weight: 400;
}
.board_list_wrap td {
  border-bottom: 1px solid #eee;
  height: 60px;
  text-align: center;
}
.board_list_wrap .td_left {
  text-align: left;
}
.board_list_wrap tr:last-child td {
  border-bottom-color: #ddd;
}
.board_list_wrap .col01 {
  width: 10%;
}
.board_list_wrap .col03 {
  width: 15%;
}
.board_list_wrap .link {
  /* 한줄말줄임 - IE대응 */
  /* 글자 안내려가게 */
  white-space: nowrap;
  /* 인라인블럭으로 지정하여 100%가 되지않게 */
  display: inline-block;
  /* 자신이 가질수있는 최대크기지정 */
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.board_list_wrap .link:hover {
  text-decoration: underline;
}

/* 게시판 페이지네이션 */
.board_pagination_wrap {
  margin-top: 20px;
  text-align: center;
}
.board_pagination_wrap .board_pagination {
  display: inline-block;
  vertical-align: top;
}
.board_pagination_wrap .btn_paging {
  float: left;
  width: 22px;
  height: 40px;
  text-indent: -9999px;
  position: relative;
}
.board_pagination_wrap .btn_paging:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 14px;
  height: 14px;
  transform: translate(-50%, -50%);
  background: url(../images/sprite_pc.png) no-repeat;
}
.board_pagination_wrap .first:before {
  background-position: -397px -310px;
}
.board_pagination_wrap .prev:before {
  width: 8px;
  background-position: -369px -182px;
}
.board_pagination_wrap .next:before {
  width: 8px;
  background-position: -30px -431px;
}
.board_pagination_wrap .last:before {
  background-position: -443px -388px;
}
.board_pagination_wrap .prev {
  margin-right: 8px;
}
.board_pagination_wrap .next {
  margin-left: 8px;
}
.board_pagination_wrap .btn_num {
  border: 1px solid #eee;
  float: left;
  width: 40px;
  line-height: 38px;
  margin: 0 5px;
  color: #777;
}
.board_pagination_wrap .btn_num.active {
  background: #bb0841;
  border-color: #bb0841;
  color: #fff;
}

/* 게시판 쓰기 */
.board_write_wrap .note {
  text-align: right;
  color: #999;
}
.board_write_wrap th {
  border-bottom: 1px solid #e8e8e8;
  padding: 12px 0;
  text-align: left;
  font-weight: 500;
}
.board_write_wrap th.th_top {
  vertical-align: top;
}
.board_write_wrap td {
  border-bottom: 1px solid #e8e8e8;
  padding: 12px 0;
}
.board_write_wrap .col01 {
  width: 12%;
}
.board_write_wrap .email {
  margin: 0 20px;
}
.board_write_wrap .select_wrap {
  margin-left: 6px;
}
.board_write_wrap .select_wrap2 {
  margin-left: 0;
}
.board_write_wrap .file_note {
  display: inline-block;
  color: #999;
  font-size: 13px;
  margin-left: 30px;
}

/* 요금 테이블 */
.fee_tbl_wrap {
  border-top: 2px solid #333;
  text-align: center;
}
.fee_tbl_wrap th {
  border: 1px solid #d9d9d9;
  padding: 15px 30px;
  color: #000;
  font-weight: 400;
  background: #f7f7f7;
}
.fee_tbl_wrap .col01 {
  width: 20%;
}
.fee_tbl_wrap thead th {
  border-bottom: none;
  padding: 20px 5px;
  font-size: 18px;
  color: #333;
}
.fee_tbl_wrap td {
  border: 1px solid #d9d9d9;
  padding: 15px 30px;
}
.fee_tbl_wrap .td_right {
  text-align: right;
}

/* 애니메이션 공통 */
.animate_fade_down {
  transform: translate(0, -100px);
  opacity: 0;
  transition: all 1s;
}
.animate_fade_up {
  transform: translate(0, 100px);
  opacity: 0;
  transition: all 1s;
}
.animate_fade_flip {
  transform: rotateY(90deg);
  transition: all 1s;
  opacity: 0;
}
[class*='animate_fade'].on {
  opacity: 1;
  transform: translate(0, 0) rotate(0);
}

/* sns 아이콘 */
.sns_icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  background: var(--secondary-color) url(../images/ico_instagram.png) no-repeat 50% 50% / 20px;
}
/********** 공통스타일 끝  **********/
